/* feed */
.feed {
    margin-bottom: 20px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
    min-width: 400px;
    font-size: 12pt;
    color: rgb(66, 65, 66);
}

.feed-header {
    display: flex;
    justify-content: space-between;
}
/* header */
.job-title {
    font-weight: 600;
    font-size: 15pt;
    margin-bottom: 5px;
}
.job-start-date, .job-post-date {
    font-style: italic;
}

.job-image {
    width: 380px;
    height: 250px;
    margin-top: 10px;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}

.feed-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 60px;
    grid-template-areas: "button1 button2"
    "detail1 detail2";
}
.like-num {
    grid-area: detail1;
}
.comment-num {
    grid-area: detail2;
}
.like-num, .comment-num {
    padding: 2px;
    width: 95%;
    height: 100%;
    overflow: scroll;
    font-size: 9pt;
    background-color: transparent;
    color: rgb(203, 105, 223);
    text-align: center;
    padding-top: 6px;
    line-height: 15px;
}

.like-btn {
    grid-area: button1;
}
.comment-btn {
    grid-area: button2;
}
.like-btn, .comment-btn {
    width: 100%;
    height: 80%;
    color: rgb(203, 105, 223);
    background-color: transparent;
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
}
.like-btn:hover, .comment-btn:hover{
    color: #aaa;
    cursor: pointer;
}
.comment-btn {
    display: flex;
    height: 73%;
    justify-content: space-between;
    align-items: center;
}
.comment-input {
    width: 100%;
    height: 80%;
    border: 0px;
    border-radius: 5px;
}
#bi {
    font-size: 50pt;
    font-weight: 600;
}
