/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    min-width: 400px;
    min-height: 700px;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    align-self: flex-start;
}
main {
    height: 85%;
}
footer {
    align-self: flex-end;
}

h1 {
    margin: 0px;
}
.hide {
    display: none;
}
/* .show {
    display: block;
} */
.nav-item {
    text-decoration: underline;
    cursor: pointer;
}

/* before login */
#before-login {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#nav-container {
    display: flex;
    justify-content: space-between;
}
#nav-register, #nav-login {
    width: 50%;
    height: 30px;
    /* color: white; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#nav-register {
    background-color: rgb(247, 238, 197);
}

#screen-register, #screen-login{
    /* margin: 10px; */
    padding: 10px;
    border: solid;
    border-top: none;
    /* border-radius: 5px; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* popup-modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    width: 300px;
    height: 150px;
    overflow: auto;
    border: solid;
    border-radius: 4px;
    background-color: rgb(236, 162, 181);
}
.close {
    float: right;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 0px 0px;
}
.close:hover{
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

#popup-text {
    padding: 30px;
}

/* #screen-welcome {
    display: flex;
    grid-template-columns: ;
    grid-template-rows: ; 
} */
#screen-welcome {
    /* display: flex; */
    flex-direction: column;
}

/* #user-json {
    align-self: flex-end;
    justify-self: right;
} */
#user-json {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

#like-btn, #comment-btn {
    width: 50px;
    height: 30px;
    background-color: rgb(241, 217, 248);
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
}
#like-btn:hover, #comment-btn:hover {
    color: #aaa;
    cursor: pointer;
}

#icon-like, #icon-comment {
    font-size: 15pt;
}