/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-family: Arial;
    min-width: 400px;
    min-height: 700px;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    width: 100vw;
    align-self: flex-start;
}
main {
    height: 95%;
}
footer {
    align-self: flex-end;
}
h1 {
    margin: 0px;
}
.hide {
    display: none;
}
/* .show {
    display: block;
} */
.nav-item {
    text-decoration: underline;
    cursor: pointer;
}

/* before login */
#before-login {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#nav-container {
    display: flex;
    justify-content: space-between;
}
#nav-register, #nav-login {
    width: 50%;
    height: 30px;
    /* color: white; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#nav-register {
    background-color: rgb(247, 238, 197);
    /* background-color: rgb(236, 162, 181); */
}
#nav-login {
    background-color: transparent;
}
#screen-register, #screen-login{
    padding: 10px;
    border: solid;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#register-btn, #login-btn {
    width: 95px;
    color: rgb(203, 105, 223);
    background-color: transparent;
    border: solid;
    border-radius: 5px;
    margin-top: 10px;
    border-color: rgb(236, 162, 181);
}
#register-btn:hover, #login-btn:hover{
    color: #aaa;
    cursor: pointer;
}

/* popup-modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    width: 300px;
    height: 150px;
    overflow: auto;
    border: solid;
    border-radius: 4px;
    background-color: rgb(245, 223, 228);
}
.close {
    float: right;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px 0px 0px;
}
.close:hover{
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

#popup-text {
    padding: 30px;
}

/* #screen-welcome {
    display: flex;
    grid-template-columns: ;
    grid-template-rows: ; 
} */

/* after login */
#screen-welcome {
    /* display: flex; */
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}
#user-json {
    width: 93%;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 18pt;
    text-align: right;
    align-self: center;
    justify-self: flex-end;
}
#update-profile, #watch-user, #watch-user-btn {
    width: 150px;
    margin-left: 5px;
    color: rgb(203, 105, 223);
    background-color: transparent;
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
}
#update-profile:hover, #watch-user:hover, #watch-user-btn:hover{
    color: #aaa;
    cursor: pointer;
}
.watch-container {
    padding: 30px;
    line-height: 30px;
}

#screen-update {
    width: 400px;
    height: 150px;
    line-height: 30px;
    border-radius: 5px;
    border: solid;
    padding: 20px;
    font-size: 12pt;
    color: rgb(66, 65, 66);
    border-color: rgb(236, 162, 181);
    z-index: 10;
}
#update-btn {
    color: rgb(203, 105, 223);
    margin-top: 10px;
    border: solid;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(236, 162, 181);
}
#update-btn:hover{
    color: #aaa;
    cursor: pointer;
}
#screen-update-close {
    font-weight: bold;
    font-size: 20px;
    height: auto;
    margin: 0px;
    padding: 0px;
}