.screen-profile {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(252, 250, 244); */
}
.profile {
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    flex-direction: column;
    z-index: 99;
    padding: 10px;
    color: rgb(66, 65, 66);
    /* background-color: rgb(250, 245, 246); */
    /* background-color: rgb(252, 250, 244); */

}
.profile-info {
    display: flex;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: dashed;
    border-color: rgb(236, 162, 181);
}
.profile-image {
    height: 150px;
    width: 150px;
    /* object-fit: cover; */
    object-fit: contain;
    /* margin: 0px, 20px, 0px, 5px; */
    /* margin: 0px, 20px, 0px, 5px; */
    margin-right: 20px;
}
.profile-name {
    font-size: 20pt;
    margin: 15px;
}
.profile-id, .profile-email {
    font-size: 14pt;
}
.profile-details {
    display: flex;
    flex-direction: column;
}
.watch-btn, .unwatch-btn {
    font-size: 12pt;
    margin-top: 10px;
    color: rgb(203, 105, 223);
    background-color: transparent;
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
}
.watch-btn:hover, .unwatch-btn:hover{
    color: #aaa;
    cursor: pointer;
}

/* watched by */
.profile-watch {
    display: flex;
    flex-direction: column;
    height: 80px;
    overflow: scroll;
    /* align-items: center; */
    /* justify-content: center; */
    /* position: relative; */
    margin-bottom: 10px;
    border-bottom: dashed;
    border-color: rgb(236, 162, 181);
}
.profile-watchby {
    width: 100%;
    /* margin: 0px; */
    text-align: center;
}
.profile-watchby-list {
    width: 100%;
    /* margin: 0px; */
    text-align: center;
    line-height: 13px;
}
.profile-link {
    color: rgb(236, 162, 181);
}

/* job lists */
.profile-jobs {
}


.profile-job-feed {
    margin: 10px 30px 20px 30px;
    margin-bottom: 20px;
    padding: 10px;
    /* border-top: solid; */
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
    min-width: 400px;
    font-size: 12pt;
    color: rgb(66, 65, 66);
}

.profile-job-header {
    display: flex;
    justify-content: space-between;
}
.profile-job-title {
    font-weight: 600;
    font-size: 15pt;
    margin-bottom: 5px;
}
.profile-job-start-date, .profile-job-post-date {
    font-style: italic;
}

.profile-job-image {
    width: 350px;
    height: 200px;
    margin-top: 10px;
    object-fit: contain;
}