/* screen profile */
.screen-profile {
    margin: 0px;
    /* margin-top: 10px; */
    padding: 0px;
    width: 100vw;
    min-width: 400px;
    min-height: 750px;
    height: 100vh;
}
.profile {
    height: 100vh;
    min-height: 750px;
    width: 100vw;
    margin-top: 10px;
    flex-direction: column;
    z-index: 99;
    /* padding: 10px; */
    color: rgb(66, 65, 66);
    border-top: solid;
    border-color: rgb(236, 162, 181);
}
.profile-info {
    display: flex;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: dashed;
    border-color: rgb(236, 162, 181);
}
.profile-image {
    height: 150px;
    width: 150px;
    object-fit: contain;
    margin-right: 20px;
}
.profile-name {
    font-size: 20pt;
    margin: 15px;
}
.profile-id, .profile-email {
    font-size: 14pt;
}
.profile-details {
    display: flex;
    flex-direction: column;
}
.watch-btn, .unwatch-btn, .job-update-btn, .job-delete-btn {
    font-size: 12pt;
    margin-top: 10px;
    color: rgb(203, 105, 223);
    background-color: transparent;
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
}
.watch-btn:hover, .unwatch-btn:hover, .job-update-btn:hover, .job-delete-btn:hover{
    color: #aaa;
    cursor: pointer;
}

/* watched by */
.profile-watch {
    display: flex;
    flex-direction: column;
    height: 80px;
    overflow: scroll;
    margin-bottom: 10px;
    border-bottom: dashed;
    border-color: rgb(236, 162, 181);
}
.profile-watchby {
    width: 100%;
    text-align: center;
}
.profile-watchby-list {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 15px;
}
.profile-link {
    color: rgb(236, 162, 181);
}

/* job lists */
.profile-jobs {
    overflow: scroll;
}

.profile-job-feed {
    margin-bottom: 20px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(236, 162, 181);
    font-size: 12pt;
    color: rgb(66, 65, 66);
    min-width: 350px;
    height: auto;
}

.profile-job-header {
    display: flex;
    justify-content: space-between;
}
.profile-job-title {
    font-weight: 600;
    font-size: 15pt;
    margin-bottom: 5px;
}
.profile-job-start-date, .profile-job-post-date {
    font-style: italic;
}

.profile-job-image {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    object-fit: contain;
}

.modify-job {
    display: flex;
    justify-content: space-evenly;
}